@using Microsoft.SharePoint.Client
@{
    List<SelectListItem> status_choices = ViewBag.status_choices;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditItem</title>
</head>
<body>
    Request ID: @ViewBag.Request_ID <br/>
    Request By: @ViewBag.Request_By <br/>
    <form action="EditItem" method="post">
        Request Status: @Html.DropDownList("status",status_choices) <br/>
        Request Details: <textarea name="details" rows="5" cols="50">@ViewBag.Request_Details</textarea><br />
        Request Due Date(YYYY/MM/DD Format): <input type="date" name="date" value="@ViewBag.Request_Due_Date"> <br/>
        <input type="hidden" name="ID" value="@ViewBag.ID"/>
        <input type="submit" name="submit" value="Update" /><br/>






    </form>
</body>
</html>
